* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
}

main {
    padding: 200px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    color: #fff;
    font-size: 2rem;
}

main button {
    background: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin: 1rem;
    margin-bottom: 5rem;
}

div {
    max-width: 750px;
    width: 100%;
}

div img {
    width: 100%;
}