* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 3rem 1rem;
}

img {
    display: block;
}

img.comic {
    margin: auto;
    max-width: 690px;
    width: 100%;
    height: auto;
}

.ocultDay,
.unlocked,
.buttonLocked,
.chocalho {
    display: none;
}

.cena {
    position: relative;
    width: fit-content;
    max-width: 100%;
    aspect-ratio: 685 / 4096;
}

.elemento {
    position: absolute;
}

.tropeco {
    width: 33%;
    top: 52%;
    left: 15.5%;
}

.bordaColetavel {
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.6))
}

#botao-menu {
    position: fixed;
    width: 40px;
    height: 40px;
    right: 0.5%;
    top: 0.5%;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    color: #fff;
    transition: .2s;
}

#botao-menu:hover,
#botao-prototipos:hover {
    background-color: #fff;
    color: #000;
}

#botao-prototipos {
    position: fixed;
    width: 100px;
    height: 40px;
    right: 0.5%;
    top: 45px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    color: #fff;
    transition: .2s;
}

#Gas {
    aspect-ratio: 1 / 1;
    width: 40%;
    height: auto;
    left: 57.3%;
    top: 67.65%;
}

#Lanterna {
    aspect-ratio: 1 / 1;
    width: 22.5%;
    height: auto;
    left: 12%;
    top: 68%;
}

#Mapa {
    aspect-ratio: 1 / 1;
    width: 17.5%;
    height: auto;
    left: 28%;
    top: 70.75%;
}

#maquinaAgricola {
    transition: width 1s ease-in-out;
}